/* src/index.css */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e5e7eb;
  background-color: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

textarea,
input,
button {
  font-family: inherit;
}
